<% provide(:title,"Home") %>
<div class="container-fluid">
	<div class="row">
		<div id="cf">
		  <%= image_tag("Ram.jpg", alt: "Graphiccard Image", class: "middle")%>
		  <%= image_tag("System.jpg", alt: "Graphiccard Image", class: "top")%>
		  <%= image_tag("Motherboard.jpg", alt: "Motherboard Image", class: "bottom")%>
		  <%= image_tag("Graphic.jpg", alt: "Graphiccard Image", class: "middle")%>
		</div>
		<div class="snippet">
			<div class="snippet-content">
				CONTENT OF THE BROWSER
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
		</div>
	</div>
</div>
<div class="separator"></div>
<div class="container-fluid" id="home-container">
	<div class="row">
		<div id="content-container">
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
	</div>
</div>