@import "bootstrap-sprockets";
@import "bootstrap";



$light-gray: #777;
$gray-beige: #5b4c43;
$light-neon: #aaaaaa;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* header*/

#logo{
	color: #ccc;
	font-size: 40px;
	letter-spacing: 2px;
	text-shadow: 3px 2px cyan;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	font-variant: small-caps;
  float: left;
	&:hover{
		color: white;
		text-decoration: none;
	}
}

nav ul li{
  font-weight: bold;
}

header.navbar {
  padding: 40px;
}

/*Error on forms and actions*/

#error_explanation {
  color: red;
  ul {
    color: red;
    margin-top: 30px;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.flash {
	margin-top: 105px;
}

/*Universal*/


body {
  padding-top: 60px;
  background-color: $light-neon;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
  margin-bottom: 10px;
  }
}




/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $light-gray;
  a {
  	color: #555;
	&:hover {
 		color: #222;
 	}
  }
  small {
  	float: left;
  }
  ul {
  	float: right;
  	list-style: none;
	li {
  		float: left;
  		margin-left: 15px;
  	}
  }
}



/*Profile page*/

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}


/*Forms*/

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/*Layout of categories and content*/

#products_sidebar{
  padding-left: 30px;
  max-width: 10%;
  float: left;
  width: 10%;
  margin-top: 150px;
  position: relative;
}

.fixed {
    position: fixed;
}

.content{
  float: right;
  margin-right: 15%;
  padding: 10%;
  padding-left: 80px;
  width: 70%;
  background: white;
}


/* Full width Jumbotron image*/

.jumbotron {background-color:inherit;}
.container-full-bg {width:100%;height:100%;max-width:100%;background-position:center;background-size:cover; clear: both;}
.container-full-bg .container, .container-full-bg .container .jumbotron {height:100%;width:100%;}

/* Carousel snippet */
/*
.slide-wrapper {
  position: relative;
}

.snippet-content{
  width: 100%;
  height: 300px;
  background: black;
  opacity: 0.5;
  color: #fff;
}

@media (min-width: 768px) {
  .carousel-caption {
    text-align: left;
    padding-right: 300px;
  }
  .snippet {
    width: 750px;
    position: absolute;
    left: 50%;
    top: 10%;
    top: 0;
    bottom: 0;
    padding: 20px 0;
    margin-left: -375px;
  }
  .snippet-content {
    width: 300px;
    float: right;
    height: 100%;
    background: black;
    opacity: 0.5;
    color: #fff;
    margin-right: 15px;
  }
}

@media (min-width: 992px) {
  .snippet {
    width: 970px;
    margin-left: -485px;
  }
}
@media (min-width: 1200px) {
  .snippet {
    width: 1170px;
    margin-left: -585px;
  }
}
*/

.slide-wrapper {
  position: relative;
}
/* Not using now
.carousel-caption {
    text-align: left;
    padding-right: 300px;
  }
*/

.snippet {
    background-size: cover;
    width: 500px;
    position: absolute;
    background: black;
    opacity: 0.3;
    left: 10%;
    top: 10%;
    bottom: 10%;
    right: 10%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.snippet-content {
    width: 90%;
    height: 90%;
    background: black;
    opacity: 0.5;
    color: #fff;
}

#carousel-generic .item .slide-image {
  overflow: hidden;
  height: 800px;
  width: auto;
  background-color: transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#carousel-generic > .carousel-control {
  width: 30px;
  font-size: 40px;
  color: #fff;
  text-shadow: none;
  filter: none;
  opacity: 1;
}

#carousel-generic > .carousel-control span{
  position: absolute;
  top: 50%;
  margin-top: -30px;
  width: 100%;
  text-align: center;
  display: block;
}

@media screen and (max-width: 699px) and (min-width: 200px){
  #carousel-generic .item .slide-image {
    height: 400px;
    overflow: hidden;
    width: auto;
    background-color: transparent;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }
  .snippet {
    width: 100%;
    margin: auto;
    position: absolute;
    background: black;
    opacity: 0.3;
    border-radius: 10px;
    left: 0%;
    right: 0%;
    top: 0%;
    right: 0%;
    .snippet-content {
      width: 95%;
      height: 95%;
      background: black;
      opacity: 0.5;
      color: #fff;
  }
  }

  #carousel-generic > .carousel-indicators {
    visibility: hidden;
  }

  #carousel-generic > .carousel-control {
    visibility: hidden;
  }

  #carousel-generic > .carousel-control span{
    visibility: hidden;
  }
}

