<h1>Listing the products of all types</h1>

<% @products.each do |product| %>
	<li><%= product.name %></li>
	<li><%= link_to "Edit", edit_product_path(product) %></li>
	<li><%= link_to "Delete", product_path(product), method: :delete, data: {confirm: "Are u sure?" } %></li>
<% end %>

<h3><%= link_to "Create Product Items", products_allitems_path %></h3>