<!-- <div class="slide-wrapper">
	<div class="container-fluid">		
		<div class="row carousel-holder">
			<div class="carousel slide" id="carousel-generic" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carousel-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-generic" data-slide-to="1"></li>
					<li data-target="#carousel-generic" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<%= image_tag(#"Ram.jpg", alt: "Ram Image", class: "slide-image")%>
					</div>
					<div class="item">
						<%= image_tag(#"System.jpg", alt: "Graphiccard Image", class: "slide-image")%>
					</div>
					<div class="item">
						<%= image_tag(#"Motherboard.jpg", alt: "Motherboard Image", class: "slide-image")%>
					</div>
				</div>
				<a class="left carousel-control" href="#carousel-generic" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a class="right carousel-control" href="#carousel-generic" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			</div>
			<div class="snippet">
				<div class="snippet-content">
					CONTENT OF THE BROWSER
				</div>
			</div>
		</div>
	</div>
</div> -->




<!-- #carousel-generic .item .slide-image {
  height: 800px;
  width: auto;
  background-color: transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

#carousel-generic > .carousel-control {
  width: 30px;
  font-size: 40px;
  color: #fff;
  text-shadow: none;
  filter: none;
  opacity: 1;
}

#carousel-generic > .carousel-control span{
  position: absolute;
  top: 50%;
  margin-top: -30px;
  width: 100%;
  text-align: center;
  display: block;
} -->

<!-- #carousel-generic .item .slide-image {
    height: 400px;
    overflow: hidden;
    width: auto;
    background-color: transparent;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }
 #carousel-generic > .carousel-indicators {
    visibility: hidden;
  }
#carousel-generic > .carousel-control {
    visibility: hidden;
  }
#carousel-generic > .carousel-control span{
    visibility: hidden;
  }
 -->